.Dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#charts {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 5px;
}

#dashboard-title {
  color:  #A9A9A9;
}