.Home {
  text-align: center;
}

.Home-header {
  background-color: #FFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:  #A9A9A9;
}

button {
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  height: 45px;
  width: 200px;
  color: white;
  text-decoration: none;
  font-size: calc(2vh);
  font-weight: bold;
  margin-top: 45px;
}

button:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-1px);
}